<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>AD_UNIT_ID_FOR_BANNER_TEST</key>
	<string>ca-app-pub-3940256099942544/2934735716</string>
	<key>AD_UNIT_ID_FOR_INTERSTITIAL_TEST</key>
	<string>ca-app-pub-3940256099942544/4411468910</string>
	<key>CLIENT_ID</key>
	<string>809091462328-3ajuh0i5k12p374s7kqk2th9l2u366iv.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.809091462328-3ajuh0i5k12p374s7kqk2th9l2u366iv</string>
	<key>ANDROID_CLIENT_ID</key>
	<string>809091462328-hkj4m5hpnvuhm23qn6bpomf5msel0itg.apps.googleusercontent.com</string>
	<key>API_KEY</key>
	<string>AIzaSyDvw9ajMs9qAIGzkzjDalcQyolNpnQirhc</string>
	<key>GCM_SENDER_ID</key>
	<string>809091462328</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>org.lovepeaceharmony.ios.app</string>
	<key>PROJECT_ID</key>
	<string>lovepeaceharmony-188218</string>
	<key>STORAGE_BUCKET</key>
	<string>lovepeaceharmony-188218.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<true></true>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:809091462328:ios:3cc0865ade253b23</string>
	<key>DATABASE_URL</key>
	<string>https://lovepeaceharmony-188218.firebaseio.com</string>
</dict>
</plist>